body {
    color: #fff;
    background-color: #000;
    font: 14pt sans-serif;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
}

a {
    color: #ffcc00;
}

img {
    display:none;

}

#container {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

#banner {
    font: 20pt Georgia;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 5;
    border-bottom: 1px solid #333;
    width: 330px;
    padding-bottom: 5px;
    background-color: rgba(0,0,0,.9);

}

#infobox {
    position: absolute;
    top: 55px;
    z-index: 3;
    left: 10px;
    width: 325px;
    font-color: #999;
    background-color: rgba(0,0,0,.8);
    padding-left: 15px;
}

#ident {
    position: absolute;
    z-index: 5;
    bottom: 10px;
    font-siz: 10pt;
    left: 24px;

}

#ident a{
    color: #00eeee;

}

@media (max-height: 420px) {
    body {
        font-size: 10pt;
    }
    #container {
        padding-left: 200px;

    }
}
