body {
    color: #fff;
    background-color: #000;
    font: 14pt sans-serif;
    line-height: 1.5em;
    padding: 0;
    margin: 0;
}

a {
    color: #ffcc00;
}

img {
    display:none;

}

#container {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

#banner {
    font: 20pt Georgia;
    font-weight: bold;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 5;
    border-bottom: 1px solid #333;
    width: 330px;
    padding-bottom: 5px;
    background-color: rgba(0,0,0,.9);

}

#infobox {
    position: absolute;
    top: 55px;
    z-index: 3;
    left: 10px;
    width: 325px;
    font-color: #999;
    background-color: rgba(0,0,0,.8);
    padding: 0 15px;
}

#ident {
    position: fixed;
    z-index: 5;
    bottom: 10px;
    font-siz: 10pt;
    right: 24px;

}

#ident a{
    color: #00eeee;

}

input {
    background-color: #eee;
    border-radius: 5px;
}

input[type="text"] {
    width: 40px;
    padding: 5px;
    margin: 5px;
}

.generateTitle {
    font-size: 1.3em;
    padding-bottom: 18px;
}

.generateLabel {
    display: inline-block;
    width: 255px;
    font-size: .9em;
}

.generateForm {
    padding-top: 10px;
    border-top: 1px solid #333;
}

button {
    border-radius: 5px;
    margin: 15px 3px 20px;
    padding: 7px 10px;
}


#generateError {
    padding: 0 0 10px 30px;
    font-size: .8em;
    color: #b96b52;
    line-height: 1.3em;
}

@media (max-height: 420px) {
    body {
        font-size: 10pt;
    }
    #container {
        left: 200px;
    }
    #banner {
        width: 300px;
    }
    #infobox {
        width: 300px;
    }
    .generateLabel {
        width: 230px;
    }
    button {
        padding: 5px;

    }
}
